@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

:root {
  --mainYellow: rgb(249, 228, 148);
  --mainWhite: #fff;
  --mainBlack: #000;
  --yellowTrans: rgba(249, 228, 148, 0.5);
  --mainGreen: #84a98c;
  --yellowOrange: #ff9500;
  --mainRed: #f94144;
  --queenBlue: #577590;
  --zomp: #43aa8b;
  --navbarColor: #343a40;
}

body {
  font-family: "Share Tech Mono", monospace;
  color: var(--mainBlack);
}

.col9section {
  background: beige;
}

.col3nav {
  background: rgb(245, 245, 220);
  background: linear-gradient(
    270deg,
    rgba(245, 245, 220, 1) 0%,
    rgba(194, 219, 207, 1) 100%
  );
}

.myNavbar {
  padding-bottom: 5vh;
}

.section-about {
  padding: 20vh 0 50vh 0;
  height: 100vh 0;
}

.section-lng {
  padding: 10vh 0 20vh 0;
  height: 100vh 0;
}

.section-shrt {
  padding: 30vh 0 30vh 0;
  height: 100vh 0;
}

.custom-sidenav {
  margin-top: 5vh;
}

.navbar-toggler {
  outline: none !important;
}

/* timeline 2 */
/* https://mdbootstrap.com/snippets/jquery/pjoter-2-0/743991#css-tab-view */
/* Tnx Piotr Obrebski*/

.timeline-light-v-2 {
  list-style: none;
  padding-left: 1em;
  line-height: 1.5em;
  font-size: 20px;
}

.timeline-light-v-2-item {
  position: relative;
}

.timeline-light-v-2-item-tail {
  position: absolute;
  border-left: 2px solid #e8e8e8;
  height: 100%;
  width: 0;
  bottom: 0;
  left: 14px;
}

.timeline-light-v-2-item-head {
  position: absolute;
  width: 14px;
  height: 14px;
  left: 15px;
  bottom: 4px;
  transform: translate(-50%, 0);
  border: 2px solid #1890ff;
  border-radius: 50%;
  background: #fff;
  z-index: 1;
}

.timeline-light-v-2-item-content {
  margin-left: 30px;
  line-height: 3em;
  height: 2em;
}

.timeline-light-v-2-item-red .timeline-light-v-2-item-head {
  border-color: red;
}

.timeline-light-v-2-item-green .timeline-light-v-2-item-head {
  border-color: green;
}

.timeline-light-v-2-item-brown .timeline-light-v-2-item-head {
  border-color: brown;
}

li:first-child.timeline-light-v-2-item .timeline-light-v-2-item-tail {
  height: 0;
}

.timeline-light-v-2-item-loading .timeline-light-v-2-item-head {
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  animation: tl-v2-loadingCircle 1s 1s infinite linear;
}

.timeline-light-v-2-item-icon .timeline-light-v-2-item-head {
  border: none;
  width: 20px;
  height: 20px;
  background: transparent;
}

.timeline-light-v-2-item-icon .timeline-light-v-2-item-tail {
  height: 100%;
  bottom: 20px;
  left: 14px;
}

.timeline-light-v-2-item-icon .timeline-light-v-2-item-head {
  font-size: 20px;
}

.timeline-light-v-2-item-dashed .timeline-light-v-2-item-tail {
  border-left-style: dashed;
}

@keyframes tl-v2-loadingCircle {
  0% {
    transform: translate(-50%, 0) rotate(0deg);
  }

  100% {
    transform: translate(-50%, 0) rotate(360deg);
  }
}

.timeline-link {
  color: var(--mainRed);
  transition: all 0.5s ease-in;
  text-shadow: 2px 2px var(--mainBlack);
}

.timeline-link:hover {
  color: crimson;
  text-shadow: 2px 2px lime;
}
